@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Fonts/Poppins-Regular.ttf') format('truetype');
  }
}

body{
  background-color: black;
  font-family: "Bricolage Grotesque", sans-serif;
}

.box {
  box-shadow: 0 3px 0 0 rgb(239, 238, 238);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.mobile-menu {
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}

.slide-in {
  animation: slideIn 0.5s forwards ease-in-out;
}

.slide-out {
  animation: slideOut 0.5s forwards ease-in-out;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-99.9%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

.btn-outline{
  border: 0.1vw solid transparent;
  background-color: black;
  color: #fcf6f6;
  width: max-content;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-gradient{
  z-index: 0;
  background-image: radial-gradient(circle closest-side at 50% 50%, green, #ffffff00);
  opacity: 1;
  animation: go-around-wide 10s linear infinite;
  transition: transform .2s, opacity .2s;
  position: absolute;
  inset: auto auto 0% 0%;
  transform: translate(-50%, 50%);
}

@keyframes go-around-wide {
  0% {
    left: 0%;
    bottom: 0%;
}

15% {
    left: 0%;
    bottom: 100%;
}
50% {
    left: 100%;
    bottom: 100%;
}
65% {
    left: 100%;
    bottom: 0%;
}
100% {
    left: 0%;
    bottom: 0%;
}
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
